






body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}







#contact {
    padding: 50px 0px;
    background-color: #e6e6e6;
}

#contact h1 {
    text-align: center;
    margin-bottom: 40px;
}

#contact form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.05),
    inset -2px -5px 10px rgb(255, 255, 255),
    15px 15px 10px rgba(0, 0, 0, 0.05),
    15px 10px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    backdrop-filter: blur(10px) brightness(90%);
}

#contact label {
    display: block;
    margin-bottom: 10px;
}

#contact input, #contact textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact textarea {
    resize: vertical;
}

#contact button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact button:hover {
    background-color: #555;
}































































footer {
    background-color: #434242;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    overflow: hidden;
}