

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .frame{
    height: 400px;
    width: 100%;
    background-image: url("pexels-photo-2148101.jpeg");
    background-position: center;
    background-size: cover;
}


































































footer {
    background-color: #434242;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}